#container{
    overflow: scroll;
    scroll-behavior: smooth !important;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

#container::-webkit-scrollbar{
    display: none;
}
